.video-js a {
    color: #FFFFFF;
}

.video-js .vjs-dock-title {
    line-height: 2.5;
}

.video-js .vjs-dock-description {
    display: none;
}

.video-js .vjs-control[role=button] {
    cursor: pointer;
}
